<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>This is my templates</title>
</head>
<body>
<h1 style="background-color:powderblue;">BSNL-CDR Project </h1>h1>
<h3>Welcome In Python</h3>
<textarea <="" body="" style="margin: 0px; width: 917px; height: 65px;">&lt;I Am {{name}} and My Place is {{city}} &gt;</textarea>
<button>Analyze test</button>
<h1>Welcome Please press below button</h1>

<form action='/home' method='get'>
    <textarea name='text'style="margin: 0px; width: 921px; height: 57px;"></textarea>
    <button>Submit</button>
<img src="img_chania.jpg" alt="flowers in china">
<p style="color:green;">i am green</p>
    <p style="color:green;">I AM Red</p>
    <h3 style="background-color:violet;">This is Bottom</h3>




</form>

</html>

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>
