<!DOCTYPE html>
<html>
<p style="background-color:powderblue;">BSNLCDR Project,Pune</p>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style="color:violet;">HCL-Team</h2>

<table>
  <tr>
    <th>Employee Name</th>
    <th>Team</th>
    <th>Contact</th>
  </tr>
    <tr>
    <td>Virender Singh</td>
    <td>IVRS</td>
    <td>7709998765</td>
  </tr>
  <tr>
    <td>Pankaj Tadsare</td>
    <td>Network Security</td>
    <td>9890432137</td>
  </tr>
  <tr>
    <td>Kshitej</td>
    <td>Server</td>
    <td>8976543219</td>
  </tr>
  <tr>
    <td>Rajesh P</td>
    <td>Server</td>
    <td>9875439087</td>
  </tr>
  <tr>
    <td>Sham Tupe</td>
    <td>IVRS</td>
    <td>77099903227</td>
  </tr>
</table>

<button>Submit</button>
<a href="http://www.bsnl.co.in/">Click here for more details</a>

</body>
</html>
